{% extends 'layouts/master.html' %}
{% load static %}

{% block 'title' %}
	Detail View
{% endblock %}

{% block 'content' %}
	<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Detail View</h1>
    <div class="card" style="width: 18rem;">
  		<div class="card-body">
		    <h5 class="card-title">{{ object.name }}</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Majors: {{ object.majors }}</h6>
		    <p class="card-text">{{ object.description }}</p>
		    <a href="{% url 'adminView:index' %}" class="btn btn-danger btn-medium">Back</a>
	  	</div>
	</div>
	</div>
{% endblock  %}